@model StatusChecker.Models.StatusResponseViewModel

<tr>
    <td style="border: solid 1px silver;">
        @Html.DisplayFor(model => model.Title)
    </td>    
    <td style="border: solid 1px silver;">
        @Html.DisplayFor(model => model.Status)
    </td>
</tr>
